<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.name}}</title>
</head>
<body>
    <h1>{{user.name}} Details</h1>
    <ul>
        <li>{{user.first_name}}</li>
        <li>{{user.last_name}}</li>
        <li>{{user.img_url}}</li>
    </ul>
    
    <h2>User Details</h2>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>Image URL: {{ user.image_url }}</p>

    <h3>Posts</h3>
    <ul>
        {% for post in posts %}
            <li>{{ post.title }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('edit_user', user_id=user.id) }}">Edit User</a>
    <a href="{{url_for('list_users') }}">Back Home</a>

</body>
</html>